@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .text-gradient {
    background: linear-gradient(129deg, #690CB0 0%, #F364A2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #690CB0 0%, #F364A2 100%);
  }
}
