@import "tailwindcss/preflight";
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#690cb0] to-[#f364a2] bg-clip-text text-transparent;
  }

  .primary-gradient {
    @apply bg-gradient-to-r from-[#690cb0] to-[#f364a2];
  }
}
